<?xml version="1.0" encoding="utf-8" ?>
<Defs>

	<XmlExtensions.SettingsMenuDef>
		<defName>EPOE_Forked_Menu</defName>
		<modId>vat.epoeforked</modId>
		<label>EPOE-Forked</label>
		<settings>
			<li Class="XmlExtensions.Setting.Text">
				<text>Production methods:</text>
				<tKey>vat_epoeforked_craftingmethod</tKey>
			</li>
			<li Class="XmlExtensions.Setting.RadioButtons">
				<key>CraftingMethod</key>
				<defaultValue>0</defaultValue>
				<buttons>
					<li>
						<label>Normal crafting method</label>
						<tKey>vat_epoeforked_normalcraft</tKey>
						<value>0</value>
					</li>
					<li>
						<label>Allow direct crafting</label>
						<tKey>vat_epoeforked_allowdirect</tKey>
						<value>1</value>
					</li>
					<li>
						<label>Direct crafting only</label>
						<tKey>vat_epoeforked_directonly</tKey>
						<value>2</value>
					</li>
				</buttons>
			</li>
			<li Class="XmlExtensions.Setting.Checkbox">
				<key>RemoveWorkbench</key>
				<defaultValue>false</defaultValue>
				<label>Remove workbench</label>
				<tKey>vat_epoeforked_RemoveWorkbench</tKey>
				<tooltip>Moves all recipes back to vanilla workbenches, existing workbenches of this mod will remain usable but no longer buildable.</tooltip>
				<tKeyTip>vat_epoeforked_RemoveWorkbenchTip</tKeyTip>
			</li>
			<li Class="XmlExtensions.Setting.Checkbox">
				<key>ComponentCrafting</key>
				<defaultValue>false</defaultValue>
				<label>Remove component crafting from EPOE-Forked workbenches?</label>
				<tooltip>EPOE-Forked workbenches do have the ability to craft components and advanced components. Ticking this option removes it.</tooltip>
			</li>
			<li Class="XmlExtensions.Setting.GapLine" />
			<li Class="XmlExtensions.Setting.Text">
				<text>Textures and sprites</text>
				<tKey>vat_epoeforked_TextureSpritesTitle</tKey>
			</li>
			<li Class="XmlExtensions.Setting.Checkbox">
				<key>EPOETextures</key>
				<defaultValue>false</defaultValue>
				<label>Use vanilla item textures for artifical body parts?</label>
				<tKey>vat_epoeforked_VanillaItemTextures</tKey>
				<tooltip>Disables EPOE-Forked's textures and revert to vanilla. If you use texture packs for these, ignore this setting.</tooltip>
				<tKeyTip>vat_epoeforked_VanillaItemTexturesTip</tKeyTip>
			</li>
			<li Class="XmlExtensions.Setting.Checkbox">
				<key>VanillaVersionHediffWounds</key>
				<defaultValue>false</defaultValue>
				<label>Use vanilla textures for bionic eyes for the face?</label>
				<tKey>vat_epoeforked_VanillaBionicEyesFace</tKey>
				<tooltip>The affected eyes are bionic (vanilla), archotech (vanilla), advanced bionic and tactical bionic eye.</tooltip>
				<tKeyTip>vat_epoeforked_VanillaBionicEyesFaceTip</tKeyTip>
			</li>
			<li Class="XmlExtensions.Setting.GapLine" />
			<li Class="XmlExtensions.Setting.Text">
				<text>Miscellaneous options</text>
				<tKey>vat_epoeforked_OtherOptions</tKey>
			</li>
			<li Class="XmlExtensions.Setting.Checkbox">
				<key>OrgansCanRotOption</key>
				<defaultValue>false</defaultValue>
				<label>Natural organs can rot, therefore needing refrigeration</label>
				<tKey>vat_epoeforked_OrgansCanRotOption</tKey>
				<tooltip>Enables natural organs to have a timer to rot and disappear if not refrigerated.</tooltip>
				<tKeyTip>vat_epoeforked_OrgansCanRotOptionTip</tKeyTip>
			</li>
			<li Class="XmlExtensions.Setting.Checkbox">
				<key>EMP_Toggle</key>
				<defaultValue>false</defaultValue>
				<label>Remove EMP weakness from combat implants added by this mod</label>
				<tKey>vat_epoeforked_EMP_Toggle</tKey>
				<tooltip>Pawns with combat based auxiliary AI, protective exoskeleton and AI persona core gets a debuff when hit by EMP, this option removes that weakness.</tooltip>
				<tKeyTip>vat_epoeforked_EMP_ToggleTip</tKeyTip>
			</li>
			<li Class="XmlExtensions.Setting.Checkbox">
				<key>OptimizerThoughts_Transhumanists</key>
				<defaultValue>false</defaultValue>
				<label>Transhumanists do not care about organic and instinct optimizers</label>
				<tKey>vat_epoeforked_OptimizerThoughts_Transhumanists</tKey>
				<tooltip>Description will still make a mention they hate them, but that can be ignored as the stats will no longer reflect that.</tooltip>
				<tKeyTip>vat_epoeforked_OptimizerThoughts_TranshumanistsTip</tKeyTip>
			</li>
			<li Class="XmlExtensions.Setting.Checkbox">
				<key>ForcedLimbRemoval</key>
				<defaultValue>false</defaultValue>
				<label>Enable surgery to directly remove limbs</label>
				<tKey>vat_epoeforked_ForcedLimbRemoval</tKey>
				<tooltip>For your war crime needs.</tooltip>
				<tKeyTip>vat_epoeforked_ForcedLimbRemovalTip</tKeyTip>
			</li>
			<li Class="XmlExtensions.Setting.Checkbox">
				<key>RemoveTongueBeautyTag</key>
				<defaultValue>false</defaultValue>
				<label>Disable EPOE-Forked's patch for removing opinion of disfigurement due to missing tongue</label>
				<tKey>vat_epoeforked_RemoveTongueBeautyTag</tKey>
				<tooltip>Any jaws added body parts, including base game's dentures, technically removes the tongue, but the opinion of disfigurement still happens. This is why EPOE-Forked removes the beauty tag related to the tongue.</tooltip>
				<tKeyTip>vat_epoeforked_RemoveTongueBeautyTagTip</tKeyTip>
			</li>
			<li Class="XmlExtensions.Setting.GapLine" />
			<li Class="XmlExtensions.Setting.Text">
				<text>Experimental features</text>
				<tKey>vat_epoeforked_experimental</tKey>
			</li>
			<li Class="XmlExtensions.Setting.Checkbox">
				<key>LegacyMode</key>
				<defaultValue>false</defaultValue>
				<label>Legacy mode</label>
				<tKey>vat_epoeforked_LegacyMode</tKey>
				<tooltip>Legacy version for the production and material cost. Newer updates may make some features feel increasingly inconsistent with legacy version.</tooltip>
				<tKeyTip>vat_epoeforked_LegacyModeTip</tKeyTip>
			</li>
			<li Class="XmlExtensions.Setting.Checkbox">
				<key>OriginalEPOE</key>
				<defaultValue>true</defaultValue>
				<label>Original EPOE migration mode</label>
				<tKey>vat_epoeforked_EPOEMigration</tKey>
				<tooltip>Enables "Original EPOE workbench (debug)", ready to convert into this mod's equivalent workbenches. Disable this once migration is completed or is not needed. No need to restart game if only turning this off.</tooltip>
				<tKeyTip>vat_epoeforked_EPOEMigrationTip</tKeyTip>
			</li>
			<li Class="XmlExtensions.Setting.GapLine" />
			<li Class="XmlExtensions.Setting.ResetSettings">
				<label>Reset settings</label>
				<tKey>vat_epoeforked_ResetSettings</tKey>
			</li>
			<li Class="XmlExtensions.Setting.GapLine" />
			<li Class="XmlExtensions.Setting.Text">
				<text>Restarting game is required to apply any changes.</text>
				<tKey>vat_epoeforked_ResetToApplyReminder</tKey>
			</li>
		</settings>
	</XmlExtensions.SettingsMenuDef>

</Defs>